


<div class="jumbotron">
  <h2><strong>Les Enfants</strong></h2>
  <hr>
  <div class="container">
    <app-enfant-recherche></app-enfant-recherche>
    <h4>Cliquez sur un enfant pour en voir les détails</h4>
    <ul class="list-group">
      <li class="list-group-item my-1" *ngFor="let enfant of enfants">
        <a routerLink="/detail/{{enfant._id}}">
          <span class="badge">{{enfant.nom}}  {{enfant.prenom}}</span>
        </a>
      </li>
    </ul>
    <button class="btn btn-primary" routerLink="/inscription">Inscrire un enfant</button>

  </div>

  
<app-enfant-recherche></app-enfant-recherche>

<h4>Cliquez sur un enfant pour en voir les détails</h4>
<label>Tous les enfants</label>
<ul class="enfants">
  <li *ngFor="let enfant of enfants" >
    <a routerLink="/detail/{{enfant._id}}">
      <span class="badge">{{enfant.nom}} </span> {{enfant.prenom}}
    </a>
  </li>
</ul>
<br>
<label>Les enfants de la personne connectee (normalement pro)</label>
<ul class="enfants">
  <li *ngFor="let enfant of enfantsPro" >
    <a routerLink="/detail/{{enfant._id}}">
      <span class="badge">{{enfant.nom}} </span> {{enfant.prenom}}
    </a>
  </li>
</ul>





<a routerLink="/inscription">Inscrire un enfant</a>



</div>
