
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">

   <li> <a routerLink="auth/login" >Login</a></li>
   <li> <a routerLink="hello">Hello</a></li>
   <li><a routerLink="choix">Choix</a></li>
    <li><a routerLink="enfants">Gérer les enfants</a></li>
    <li><a routerLink="inscription">Inscrire un enfant</a></li>
    <li><a routerLink="professionel">ressource professionelle</a></li>
    <li><a routerLink="gestionProfessionnel">Gestion professionnel</a></li>
    <li><a routerLink="filtreGestion">Gestion de vos filtres</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
