<p>test-pro-communication works!</p>

<button (click)="onGetChildList()">Demander les rooms</button>
<button (click)="onJoinRoom()">Rejoindre l'enfant</button>
<button (click)="onSendMessage()">Send msg</button>

<div class="container">
    <h3>Liste des enfants : </h3>
    <ng-container *ngIf="childNotEmpty">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let child of childs">Enfant trouvé : {{child}}</li>
        </ul>
    </ng-container>
</div>

<div class="container">
    L'enfant à selectionné les images suivantes :
    <!-- <ng-container *ngFor="let image from images">
        <div class="container">{{image}}</div>
    </ng-container> -->
</div>
