<div>
    <form>
        <div>Nom de famille</div>
        <input type="text" #nom >
        <div>Prénom</div>
        <input type="text" #prenom>
        <div>Mot de passe</div>
        <input type="text" #pswd >
       
           
        <div>
            <label>Profession
                <select #prof>
                    <option *ngFor='let prof of professions' [value]="prof"  >{{prof}}</option>
                </select>
            </label>
        </div>
        
        <div>Telephone</div>
        <input type="text" #tel >
        <div>E-mail</div>
        <input type="text" #email >
        
        <div>
            <label>Rôle
                <select #role (change)="formParent(role.value)">
                    <option  *ngFor='let rol of roles' [value]="rol"  >{{rol}}</option>
                </select>
            </label>
        </div>

        <form *ngIf="isParent">
            <p>Veuillez sélectionner l'enfant</p>
            <app-enfant-parent-recherche (messageEvent)="recevoirIdEnfant($event)"></app-enfant-parent-recherche>
            <!--<p>id: {{idEnfantParent}}</p>-->
        </form>
        
        <p><button (click)="add(nom.value, prenom.value, pswd.value, prof.value, tel.value, email.value, role.value);
            nom.value ='';
            prenom.value='';
            pswd.value='';
            prof.value='';
            tel.value=''; 
            email.value=''; 
            
            ">
            Valider</button></p>
    </form>   
</div>
