
<div class="container">
    <h5>Ajouter un nouvel enfant : </h5>
    <form>
        <div>Nom de famille</div>
        <input type="text" #childNom >
        <div>Prénom</div>
        <input type="text" #childPrenom>
        <div>Date de naissance</div>
        <input type="date"  #childBirth>
        
        <p><button (click)="add(childNom.value, childPrenom.value, childBirth.value);
            childNom.value='';
            childPrenom.value='';
            childBirth.value=''
            ">
            valider</button></p>
    </form>
</div>
<div class="container">
    <h5>Choisir l'enfant parmis la liste</h5>
</div>