<div>
    <form>
        <div>
            <label>Nom de famille</label>
            <input type="text" #childNom>
        </div>
        <div>
            <label>Prénom</label>
            <input type="text" #childPrenom>
        </div>
        <div>
            <label>Date de naissance</label>
            <input type="date" #childBirth>
        </div>
        <div>
            <label>Langue usuelle</label>
            <input type="text" #langueUsuelle>
        </div>
        <div>
            <label>Dominance</label>
            <select name="dominance" #dominance>
                <option *ngFor="let dom of dominances" [value]="dom">{{dom}}</option>
            </select>
        </div>

        <div>
            <label>Scolarite
                <select name='enseignement' [(ngModel)]='selectedEnseignement' #enseignement>
                    <option *ngFor='let scolarite of scolaritees' [value]="scolarite">{{scolarite}}</option>
                </select>
                <div *ngIf="selectedEnseignement == 'integration' || selectedEnseignement == 'specialise'">
                    Type: <input type="text" #typeEnseignement [(ngModel)]="typeE" name="type" placeholder="Type"/>
                </div>
                Niveau: <input type="text" #niveauScolaire placeholder="Niveau" />
            </label>
        </div>

        <div class="container mt-3">
            <div *ngFor="let obj of dataarray; let i=index" name="info_contact_plus">
                <label>Prenom</label>
                <input [(ngModel)]="obj.prenom" placeholder="Contacts" name="prenom{{i}}" />

                <label>Nom</label>
                <input [(ngModel)]="obj.nom" placeholder="Contacts" name="nom{{i}}" />

                <label>Telephone</label>
                <input type="tel" [(ngModel)]="obj.telephone" name="telephone{{i}}">

                <label>Email</label>
                <input type="email" [(ngModel)]="obj.email" name="email{{i}}">

                <label>Role</label>
                <select name='relation_contact' [(ngModel)]="obj.relation">
                    <option *ngFor='let relation of relations' [value]='relation'>{{relation}}</option>
                </select>
                <div *ngIf="i!=0">

                    <span class="btn btn-danger" (click)="supprimerChamp(i)">Supprimer</span>

                </div>
            </div>
            <span class="btn btn-primary" (click)="ajouterContact()">Ajouter contact</span>
        </div>

        <div>
            <label>Besoins
                <select name="besoinsChoisis" [(ngModel)]='selectedBesoins' #mult multiple>
                    <option *ngFor="let besoin of besoins" [value]="besoin" (click)='clicked($event)'>{{besoin}}</option>
                </select>
            
                <div *ngIf="selectedBesoins.indexOf('Autre')>=0">
                    Autre : <input type="text" [(ngModel)]="autreBesoin" name="a" #autre>
                </div>
            </label>
        </div>

        <div>
           Professionnel : <input type="text" #professionnel />
            
        </div>

<!--add(nom: string, prenom: string, date_naissance: Date, langue_usuelle:string,
    dominance:string,scolarite=Scolarite,contacts:Array<Object>,besoins:Array<string>,professionnel:string)-->
        <button (click)="add(childNom.value, childPrenom.value, childBirth.value,langueUsuelle.value,dominance.value,
        enseignement.value,niveauScolaire.value,professionnel.value);
            childNom.value='';
            childPrenom.value='';
            childBirth.value='';

            ">
                Inscrire</button>
    </form>
    <!--,dominance.value,
            enseignement.value,type.value,niveauScolaire.value,
            mult.value,professionnel.value,autre.value-->
</div>